
.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.player-list {
    flex: 0 0 33.33%;
    height: 100%;
}

.log-plot {
    flex: 1 1 0;
    height: 100%;
}