<mat-card class="flex h-full overflow-hidden">
    <mat-card-header>
        Log Plot

        @if (dataService.dataLoaded()) {
        <div class="ml-auto flex flex-row items-center gap-4">
            <span>Radius: {{ radius()() }}</span>
            <span>Date Range: {{ dateRange()?.lower | date}} - {{ dateRange()?.upper | date}}</span>
        </div>
        }

        <!-- <button matButton (click)="generatePlot()">Regenerate Plot</button> -->
    </mat-card-header>
    <mat-card-content class="flex h-full overflow-auto">

        <div #plot class="w-full h-full"></div>
        <!-- <img class="flex h-full" src="sample-plot.png" alt="Log Plot" /> -->

    </mat-card-content>
</mat-card>